@media only screen and (max-width:500px) {
    .navbar{
        display:none
    }
    .welcome{
        font-size: 12pt;
    }

    .pimg1, .pimg2, .pimg3{
        background-attachment: inherit;
    }
    .experience{
        display: flex;
    }
    .summary-text{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .text-background{
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
    .project-preview{
        height: 150px;
        width: auto;
    }
    section h2{
        margin: 0px
    }
    .story{
        margin: 0px;
    }
    .contactInfo{
        margin-left: 0px;
    }
}